<nav class="wb-menu__list__wrapper" role="navigation" aria-label="Main">
    <ul class="wb-menu__list">
        {% nav entry in craft.navigation.nodes('mainNav').all() %}
            <li class="menu-item wb-menu__item level-{{entry.level - 1}} {% if entry.hasDescendants() %} wb-menu__item--has-children{% endif %}">
                {% if entry.hasDescendants() and entry.url is empty %}
                    <button class="wb-menu__item__el sub-menu__trigger">{{ entry.title }}<i class="wb-menu__item__el-chevron fa-light fa-chevron-down"></i></button>
                {% elseif entry.hasDescendants() and entry.url is not empty %}
                    <a class="wb-menu__item__el sub-menu__trigger" href="{{ entry.url }}">{{ entry.title }}</a>
                {% else %}
                    <a class="wb-menu__item__el" href="{{ entry.url }}">{{ entry.title }}</a>
                {% endif %}
                {% ifchildren %}
                    <ul class="sub-menu">{% children %}</ul>
                {% endifchildren %}
            </li>
        {% endnav %}
    </ul>
    <div class="wb-menu--secondary">
        <div class="d-lg-none">
            {{ include('_layouts/components/language-switcher')}}
        </div>
        {{ include('_parts/components/searchbar', {
            class: 'd-lg-none wb-header__searchbar'
        }) }}
    </div>
</nav>